GEMINI_API_KEY="YOUR_GEMINI_API_KEY"
FineTune__EndpointUrl=""
FineTune__ApiKey=""
ConnectionStrings__DefaultConnection="Server=(localdb)\\MSSQLLocalDB;Database=Prn222RagChatbot;Trusted_Connection=True;MultipleActiveResultSets=true;TrustServerCertificate=True"
